@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html,body{
    height: 100%;
    width:100%;
}
.main{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #f04040,#3512f7);
    background-image: url(https://i.pinimg.com/originals/cc/47/af/cc47af377af5b905bbaa8d7bc481d1f4.jpg);
    background-position: center;
    background-size: cover;
}

.jokes-app{
    min-height: 70vh;
    min-width:50vw;
    max-width:80vw;
    background-color: rgba(73, 250, 117, 0.356);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: space-between;
    /* border:1px solid black; */
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
 .jokes-app p{
    max-width:80%; 
    max-height:40%;
 }
.jokes-app button{
    padding:10px 25px;
    border:none;
    background-color: #3512f7;
    font-weight: 500;
    color:white;
    border-radius: 10px;
    font-size:15px;
}
.joke{
    min-height:50vh;
    min-width:50vw;
    background-color: rgba(236, 30, 126, 0.582);
    border-radius: 10px;
    padding:20px 50px;
    text-align:left;
    font-weight: 600;
    color:white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}